.todos-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 600px;
    width: 600px;
    margin: 0 auto;
}

.todos-list article {
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    border-radius: 6px;
    padding: 10px;
    position: relative;
}

.todos-list article .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.5rem;
    background: #ccc;
    cursor: pointer;
}